<form [formGroup]="expencesform" (ngSubmit)="saveExpence()">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="txttitle" class="form-label">Title</label>
          <input type="text" id="txttitle" class="form-control" formControlName="title">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="txtdesc" class="form-label">Description</label>
          <input type="text" id="txtdesc" class="form-control" formControlName="description">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="txtcost" class="form-label" >Cost</label>
          <input type="number" id="txtcost" class="form-control" formControlName="cost">
        </div>
      </div>
      <div class="col-3">
        <label style="visibility: hidden" class="form-label">###</label>
        <button type="submit" class="form-control btn btn-primary" [disabled]="expencesform.invalid">Save Expences</button>
      </div>
    </div>
  </div>
</form>
